$accent: #68a8ca;
$accent-dark: #436c82;

$dark : #202122;
$white : #e0e7ee;

$grey-xxx-dark: #2c2e30;
$grey-xx-dark: #3c3e41;
$grey-x-dark : #4E5155;
$grey: #5f6267;
$grey-xx-light: #6f7379;
$grey-xxx-light: #a2a9b1;