h1{
  font-size: 7rem;
  font-weight: 200;
  text-align: center;
}

h2{
  color: $grey-xxx-light;
  font-size: 1.6rem;
  font-weight: 100;
  text-align: center;
}
.head{
  margin-top: 2%;
  margin-bottom: 6%;
}