.colors{
  width:80%;
  display: none;
}

.result{
  width:80%;
  margin:auto;

}
.palette{
  background: $white;
  padding:10px;
  display: flex;
  height: 50px;
  flex-wrap:wrap;
  margin-bottom: 10px;
}

.palette:hover{
  background: $accent;
}


.color_square{
  flex: 1 1 auto;

}

.description{
  color: $white;
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 1.2rem;
  display: block;
  font-weight: 300;
}

.color_val{
  color: $white;
  font-size: 1rem;
  text-align: center;
  font-weight: 100;
  display: none;
}